* {
    margin: 0;
    padding: 0;
}

:root {
    --main-background: rgb(88, 123, 127);
    --header-background: rgb(57, 64, 50);
    --main-text-color: rgb(30, 32, 2);
    --header-text-color: white;
    --border: 1px solid black;
    --footer-background: rgb(141, 171, 127);
    --accent-color: rgb(207, 238, 158);
    --font: Arial, Helvetica, sans-serif;
}

.body-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-text p {
    width: 500px;
}

.me {
    width: 300px;
    height: 400px;
    transform: rotate(270deg);
}

.nav-btn {
    background-color: var(--accent-color);
    border-radius: 3px;
    padding: 10px;
    color: var(--main-text-color);
}

nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

body {
    background-color: var(--main-background);
}

header {
    border: var(--border);
    background-color: var(--header-background);
    color: var(--header-text-color);
    font-family: var(--font);
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

a {
    color: var(--header-text-color);
}

main {
    color: var(--main-text-color);
    font-family: var(--font);
}

footer {
    border: var(--border);
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--footer-background);
    color: var(--main-text-color);
    font-family: var(--font);
}

.copy {
    font-size: small;
}

@media (max-width: 700px) {
    header {
        border: var(--border);
        background-color: var(--header-background);
        color: var(--header-text-color);
        font-family: var(--font);
    }
    
    .logo {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    
    a {
        color: var(--header-text-color);
    }
    
    main {
        background-color: var(--main-background);
        color: var(--main-text-color);
        font-family: var(--font);
    }
    
    footer {
        border: var(--border);
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: var(--footer-background);
        color: var(--main-text-color);
        font-family: var(--font);
    }
    
    .copy {
        font-size: small;
    }
}
